<launch>

    <include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch" />

    <!--
    <param name="hokuyo_node_front/port" value="/dev/sensors/hokuyo_front" />
    <param name="hokuyo_node_right/port" value="/dev/sensors/hokuyo_right" />
    -->

    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node_front">
        <param name="port" type="string" value="/dev/sensors/hokuyo_front" />
        <param name="frame_id" value="front_laser" />
    </node>
    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node_right">
        <param name="port" type="string" value="/dev/sensors/hokuyo_right" />
        <param name="frame_id" value="right_laser" />
        <remap from="scan" to="scan_right" />
    </node>

    <node pkg="youbot_teleop_interrupt" type="laser_tf.py" name="laser_frame_broadcaster" />
    <node pkg="youbot_teleop_interrupt" type="move_interrupt.py" name="move_interrupt" output="screen" />

</launch>

